canvas{
	background-color: #f1f1f1;
	background-image: url("Untitled-4.png");
	background-size: cover;
}
body{
	margin: 0px;
	background-image: url("Untitled-3.png");
	background-repeat: no-repeat;
	background-size: 100% 140%;
}