	body{
		margin-top:5%;
		margin-left:15%;
	background:radial-gradient(circle,#008000,#006400,#adff2f,#9acd32);
}

      canvas{
	border:1px solid #d3d3d3;
	background: linear-gradient(#fa8072,#bc8f8f,#ff6347,#cd5c5c);
    }